<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- <form class="my-2 my-lg-0"> -->
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3>원하는 스택 검색</h3>
          </div>
          <div class="col-sm">
          <h3>Git 트렌드</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Language</th>
                <th scope="col">Stars</th>
              </tr>
            </thead>
            <tbody>
              <% @gitdata.each do |git|%>
              <%if git.name == 'C++'%>
                <%git.name = 'c pp'%>
              <%end%>
              <% st = Stack.where('lower(name)=?',git.name.downcase).first%>
              <tr>
                <td><%= git.id %></td>
                <td>
                  <img src="https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/<%=st.stack_field.name%>/<%= git.name.capitalize %>.png" width="40">
                </td>
                <!-- <td><%= git.name %></td> -->
                <td><%= git.count %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-10">
    <h2>THE TEAM</h2>
  </div>
    <div class="col-2">
    <div class="team-member">
    <img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a0566cd60a58b0001f097d5_astronaut-user.png" width="138">
    <div class="name">김도현</div>
    <div class="position">DB</div>
    <div class="icons-wrapper">
    <a href="#" class="social-icon w-inline-block">
    <img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a047a7d0245bc00019cffa0_facebook-icon_black.svg"></a>
    <a href="#" class="social-icon w-inline-block"></a><a href="#" class="social-icon w-inline-block">
    <img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a047a7d0245bc00019cffac_linkdin-icon-black.svg"></a>
   </div>
 </div>
</div>
<div class="col-2">
<div class="team-member">
<img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a05263212148e0001585456_astronaut%20(1).png" width="138">
<div class="name">박지수</div><div class="position">Developer</div><div class="icons-wrapper">
<a href="#" class="social-icon w-inline-block">
<img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a047a7d0245bc00019cffa0_facebook-icon_black.svg"></a>
<a href="#" class="social-icon w-inline-block"></a><a href="#" class="social-icon w-inline-block"></a></div></div></div>
<div class="col-2"><div class="team-member">
<img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a05651cd7919e0001b5569d_alien%20(1).png" width="138">
<div class="name">유지인</div><div class="position">Developer</div>
<div class="icons-wrapper"><a href="#" class="social-icon w-inline-block">
<img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a047a7d0245bc00019cff9b_twitter-icon_black.svg"></a>
<a href="#" class="social-icon w-inline-block"></a><a href="#" class="social-icon w-inline-block"></a>
<a href="#" class="social-icon w-inline-block"></a></div></div></div><div class="col-2">
<img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a05645812148e000158701a_alien.png" width="138">
<div class="name">최다혜</div><div class="position">Devleoper</div><a href="#" class="social-icon w-inline-block">
<img src="https://daks2k3a4ib2z.cloudfront.net/5a047a7d0245bc00019cff8c/5a047a7d0245bc00019cffa0_facebook-icon_black.svg">
</a></div><div class="w-col w-col-2"><a href="#" class="social-icon w-inline-block"></a></div>


</div>


<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2><i class="fa fa-github-alt" aria-hidden="true">About Stacker</i></h2>
        <p class="lead">Show you all tech stacks</p>
      </div>
    </div>
  </div>
</section>
<section id="services" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Services Stacker offer</h2>
        <p class="lead">Search</p>
        <p class="lead">Stack</p>
        <p class="lead">Learn</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact us</h2>
        <p class="lead">This is 보노보노 theme </p>
      </div>
    </div>
  </div>
</section>
