<h2>Sign up</h2>

<div class="col-md-10 col-md-offset-10 login register">
    <div class="panel panel-default devise-bs col-xs-12">
      <div class="panel-body">
        <div class="heading-title text-center">
          <br>
        </div><br>
        <%= form_for(resource, :as => resource_name, :url => user_registration_path, html: {role: 'form'}) do |f| %>
            <div class="form-group col-xs-12" align="left">
              <%= f.label :이메일 %>
            </div>
            <div class="form-group col-xs-12">
              <%= f.email_field :email, autofocus: true, class: 'form-control ', placeholder: 'e-mail 양식을 지켜주세요' %>
            </div>
            <div class="form-group col-xs-12" align="left">
              <%= f.label :패스워드 %>
            </div>
            <div class="form-group col-xs-12">
              <%= f.password_field :password, class: 'form-control', placeholder: '6글자 이상으로 구성해주세요' %>
            </div>
            <div class="form-group col-xs-12" align="left">
              <%= f.label :패스워드확인 %>
            </div>
            <div class="form-group col-xs-12" align="left">
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '다시한번 입력해주세요' %>
            </div>
            <div class="form-group col-xs-12" align="left">
              <%= f.label :닉네임 %>
              <%= f.text_field :nickname, class: 'form-control', placeholder: '사용하실 닉네임을 입력해주세요' %>
            </div>
            <div class="form-group col-xs-12" align="left">
              <%= f.label :전화번호 %>
              <%= f.text_field :phone, class: 'form-control', placeholder: '사용하실 전화번호를 입력해주세요' %>
            </div>
            <% if @company_id %>
              <%= f.hidden_field :company_id, value: @company_id%>
              <%= f.hidden_field :role, value: 'enter'%>
            <% else %>
              <%= f.hidden_field :role, value: 'indi'%>
            <% end %>
            <%= f.submit%>
        <% end %>
      </div>
    </div>
  </div>

<%= render "devise/shared/links" %>
