<h2><%= t(".sign_up") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :nickname, required: true, autofocus: true %>
    <%= f.input :phone, required: true, autofocus: true %>
    <%= f.radio_button(:role, "indi") %>
    <%= f.label(:indi, "개인회원") %>
    <%= f.radio_button(:role, "enter",data: {behavior: "toggle-products" }) %>
    <%= f.label(:enter, "기업회원") %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<input type="radio" value ="indi" name="radio_btn">개인회원
<input type="radio" value="enter" name="radio_btn">기업회원

   <br>

<select>
  <% @company_fields.each do |field|%>
    <option class="enter"><%= field.name %></option>
  <% end %>
</select>



<script>
$(function(){
  $("input").change(function(e){
    $("select").val('');
      if(e.target.value == "regression"){
         $(".regression").show();
         $(".classification").hide()
        }else{
         $(".classification").show()
         $(".regression").hide();
        }
      });
})
</script>
