<h2><%= t(".sign_up") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :nickname, required: true, autofocus: true %>
    <%= f.input :phone, required: true, autofocus: true %>
    <%= f.radio_button(:role, "indi") %>
    <%= f.label(:indi, "개인회원") %>
    <%= f.radio_button(:role, "enter") %>
    <%= f.label(:enter, "기업회원") %>
    <br>
