<h2><%= t(".sign_up") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :nickname, required: true, autofocus: true %>
    <%= f.input :phone, required: true, autofocus: true %>
    <%= f.radio_button(:role, "indi", value: "indi", id: "indi", data: {behavior: "clickable" }) %>
    <%= f.label(:indi, "개인회원") %>
    <%= f.radio_button(:role, "enter", value: "enter", id: "enter", data: {behavior: "clickable" })%>
    <%= f.label(:enter, "기업회원") %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<br>
<div id="group_user_id" class="form-group">
  <%= form_for(companies_path, method: :post) do |f|%>
    회사 명 : <%= f.text_field :name%><br>
    회사 사이트 주소 : <%= f.text_field :site_url%><br>
    사업 분야 :
    <select name="companies[field_id]">
    <% @company_fields.each do |field|%>
      <option class="enter" value="<%=field.id%>"><%= field.name %></option>
    <% end %>
    <%= f.file_field :logo_url%>
    </select>
    <span>
      <%#= f.trix_editor :describe %>
      <%= f.text_field :describe, size: "500", :placeholder => "회사 소개" %>
    </span>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <%end%>
</div>



<script>
$(document).ready(function() {
  $('#group_user_id').hide();
  $('input[type="radio"][data-behavior="clickable"]').click(function(evt) {
    // alert("you chose the option: " + $(this).val());
    var content = $(this).val();
    if(content=="indi"){
      $("#group_user_id").hide();
    }else if (content=="enter"){
      $("#group_user_id").show();
    }
  });
});
</script>
