<%= form_for(@service, url: enter_company_service_path(@service.company_id, @service), method: :patch) do |f| %>  <!--, url: "/enter/companies/#{@company.id}/services/#{@service.id}/add_stack", method: :get-->
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :site_url %><br>
    <%= f.text_field :site_url %>
  </div>
  <div class="field">
    <%= f.label :logo_url %><br>
    <%= f.file_field :logo_url%>
  </div>
  <div class="field">
    <%= f.label :describe %><br>
    <%= f.text_area :describe %>
  </div>
  <%= f.hidden_field :company_id, id:"company_id"%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(function(){
    // console.log(<%#=@company.id%>)
    $('#company_id').val(<%=current_user.company_id%>);
  })
</script>
