<input type="button" value = "등록" id="aa"><br>
<%#= link_to 'submit', enter_company_service_path(current_user.company_id, @service.id), method: :get, :onclick => "$('#aa').submit()"  %>

<% @stack_fields.each do |field|%>


  <div class="container" style="height: 180px;">
  <h5><%= field.name%></h5>
  <% field.stacks.each do |stack| %>
    <div style="height:50px;width:50px; float:left; margin:5px">
      <img class="img" src="https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/<%=field.name%>/<%= stack.name.capitalize %>.png", id= "<%= stack.id%>", width="50">
      <%=hidden_field_tag "", current_user.my?(stack), class: "cb", stack_id: stack.id%>
    </div>
  <% end %>
  </div>

<% end %>


<script>
$(function(){
  $(".cb").each(function(){
    if($(this).val() == "true"){
        $(this).parent("div").css("border","2px solid red");
    }
  })
  $(".img").on("click",function(){
    console.log()
    var value = $(this).siblings(".cb").val()
    if(value == "true"){
      $(this).siblings(".cb").val("false")
      $(this).parent("div").css("border","0px");
    }else{
      $(this).siblings(".cb").val("true")
      $(this).parent("div").css("border","2px solid red");
    }
  })
  $("#aa").on("click", function(){
    var ret = []
    $(".cb[value=true]").each(function(){
      ret.push($(this).attr("stack_id"))
    });
    console.log(ret);

    $.ajax({
      url: "<%= register_stack_enter_company_services_path %>",
      method: "POST",
      data: {return_val : ret, service_id : <%=@service.id%>}
    });
  });
})
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
