<p id="notice"><%= notice %></p>

<%= "#{@hit_post.unique_impression_count}" %>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @service.site_url %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @service.logo_url %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @service.describe %>
</p>

<p>
  <strong>Company:</strong>
  <%= @service.company %>
</p>

<p>
  <strong>Stack:</strong><br>
  <% @stacks.each do |st|%>
    <%= st.stack.name%><br>
  <% end %>
</p>

<%= link_to 'Edit', "/enter/companies/#{@service.company_id}/services/#{@service.id}/edit" %> |
<%= link_to 'Back', enter_company_path(@service.company_id) %>
