<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/company_fields"><%= @service.company.company_field.name%></a></li>
    <li class="breadcrumb-item"><a href="/companies/<%=@service.company_id%>/detail"><%= @service.company.name%></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @service.name %></li>
  </ol>
</nav>

<div class="form">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>회사명:</strong>
    <%= @service.company.name %>
  </p>
  
  <p>
    <strong>서비스명:</strong>
    <%= @service.name %>
  </p>

  <p>
    <strong>사이트 주소:</strong>
    <%= @service.site_url %>
  </p>

  <p>
    <strong>로고:</strong>
    <%= @service.logo_url %>
  </p>

  <p>
    <strong>서비스 설명:</strong>
    <%= @service.describe %>
  </p>

  <p>
    <strong>Stack:</strong><br>
    <% @f_name = ['Language','Database','Server','Front-end','Native_App','Etc'] %>
    <% @f_name.each_with_index do |f, index|%>
      <%= f %><br>
      <p>
        <%@stacks.each do |st|%>
          <% if st.stack.stack_field_id == (index+1)%>
            <a href="/stacks/<%=st.stack_id%>" data-toggle="tooltip" title="<%=st.stack.name%>">
              <%= image_tag "https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/#{st.stack.stack_field.name}/#{st.stack.name.capitalize}.png", id: "#{st.stack.name}", class: "mr-3", width: "50", height: "50" %>
            </a>
          <%end%>
        <%end%>
      </p>
    <% end %>
  </p>

  <%= link_to 'Edit', "/enter/companies/#{@service.company_id}/services/#{@service.id}/edit" %> |
  <%= link_to 'Delete', "/enter/companies/#{@service.company_id}/services/#{@service.id}", method: :delete %> |
  <%= link_to 'Back', enter_company_path(@service.company_id) %>
</div>
<style>
  #stack_img {
    width: "50";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .form {
    margin-left: 30px;
  }
</style>
