<%= form_for(@stack_field) do |f| %>
  <% if @stack_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stack_field.errors.count, "error") %> prohibited this stack_field from being saved:</h2>

      <ul>
      <% @stack_field.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
