<input type="button" value = "등록" id="aa">

<% @stack_fields.each do |field|%>
  <p>
    <a class="btn btn-link" data-toggle="collapse" href="#<%=field.name %>" aria-expanded="false" aria-controls="collapseExample">
      <%= field.name%>
    </a>
  </p>
  <div id="<%= field.name%>">
    <div class="card card-body">
    <% field.stacks.each do |stack| %>
    <div style="width:50px; height:50; float:left; margin-right:10px;">
      <img class="img" src="https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/<%=stack.stack_field.name%>/<%= stack.name.capitalize %>.png", id= "<%= stack.id%>", width="50">
      <%=hidden_field_tag "", current_user.my?(stack), class: "cb", stack_id: stack.id%>
      </div>
      <% end %>
    </div>

<% end %>


<script>
$(function(){
  $(".cb").each(function(){
    if($(this).val() == "true"){
        $(this).parent("div").css("border","1px solid red");
    }
  })
  $(".img").on("click",function(){
    console.log()
    var value = $(this).siblings(".cb").val()
    if(value == "true"){
      $(this).siblings(".cb").val("false")
      $(this).parent("div").css("border","0px");
    }else{
      $(this).siblings(".cb").val("true")
      $(this).parent("div").css("border","1px solid red");
    }
  })
  $("#aa").on("click", function(){
    var ret = []
    $(".cb[value=true]").each(function(){
      ret.push($(this).attr("stack_id"))
    });
    console.log(ret);
    $.ajax({
      url: "<%= indi_register_stack_path %>",
      method: "POST",
      data: {return_val : ret}
    });
  });
})
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
