<p id="notice"><%= notice %></p>

조회수 : <%= "#{@hit_post.unique_impression_count}" %>

<p>
  <img src="https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/<%=@stack.stack_field.name%>/<%= @stack.name.capitalize %>.png" width="100">
  <br>
  <!-- 관심스택 등록 버튼 -->
  <%if current_user%>
    <% if current_user.indi? %>
      <% if @like_inter %>
        <%= link_to "관심스택", '', class: "btn btn-info", id: "inter_button" %>
      <% else %>
        <%= link_to "관심스택", '', class: "btn btn-danger", id: "inter_button" %>
      <% end %>
      <!-- 마이스택 등록 버튼 -->
      <% if @like_my %>
        <%= link_to "마이스택", '', class: "btn btn-info", id: "my_button" %>
      <% else %>
        <%= link_to "마이스택", '', class: "btn btn-danger", id: "my_button" %>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stack.name.capitalize %>
</p>

<p>
  <strong>Version:</strong>s
  <%= @stack.version %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @stack.site_url %>
</p>

<p>
  <strong>Short describe:</strong>
  <%= @stack.short_describe %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @stack.describe %>
</p>

<p>
  <strong>Stack field:</strong>
  <%= @stack.stack_field.name %>
</p>

<p>
  <strong>이 스택을 사용하는 서비스들:</strong><br>
  <% @services.each do |s| %>
    <%= s.service.name %><br>
  <% end %>
</p>

<p>
  <strong> 스택 교육 사이트:</strong><br>
  <% @edu_paths.each do |s| %>
    <a href="<%=s.url%>" target="_blank"><%= s.url %></a><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', url_for(:back) %>

<script>
  $(function(){
    $('#inter_button').on('click',function(e){
      e.preventDefault();
      $.ajax({
        url: "<%= register_inter_stack_path%>",
        method: "POST",
        data: "<%=@stack%>"
      })
    });

    $('#my_button').on('click', function(e){
      e.preventDefault();
      $.ajax({
        url: "<%=register_my_stack_path%>",
        method: "POST",
        data: "<%=@stack%>"
      });
    });
  })
</script>
