<p id="notice"><%= notice %></p>

<br>
<div class="container">

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_stack_path(@stack) %> |
  <% end %>
    <%= link_to ' Back', url_for(:back), class: "fa fa-angle-left fa-1x"  %><br><br>

  <h2><%= @stack.name.capitalize %></h2>
  <%= @stack.version %>v
  조회수 : <%= "#{@hit_post.unique_impression_count}" %>
  <br>
  <p>
    <img src="https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/<%=@stack.stack_field.name%>/<%= @stack.name.capitalize %>.png" width="100">
    <br><br>
    <!-- 관심스택 등록 버튼 -->
    <%if user_signed_in?%>
      <% if current_user.indi? %>
        <% if @like_inter %>
          <button type="button" class="btn btn-success btn-pill" id= "inter_button">관심스택</button>
        <% else %>
          <button type="button" class="btn btn-primary btn-pill" id= "inter_button">관심스택</button>
        <% end %>
        <!-- 마이스택 등록 버튼 -->
        <% if @like_my %>
          <button type="button" class="btn btn-success btn-pill" id= "my_button">마이스택</button>
        <% else %>
          <button type="button" class="btn btn-primary btn-pill" id= "my_button">마이스택</button>
        <% end %>
      <% end %>
    <% end %>
  </p>


<p>
  <strong>Site url:</strong>
  <%= @stack.site_url %>
</p>

<p>
  <%= @stack.describe %>
</p>

<p>
  <strong>Stack field:</strong>
  <%= @stack.stack_field.name %>
</p>

<p>
  <strong>이 스택을 사용하는 서비스들:</strong><br>
  <% @services.each do |s| %>
  <button type="button" class="btn btn-outline-primary btn-pill">
    <%= s.service.name %>
    </button>
  <% end %>
</p>

<p>

  <strong>스택 교육 사이트:</strong><br>
  <% @edu_paths.each do |s| %>
    <a href="<%=s.url%>" target="_blank" class="fa fa-pencil fa-1x"><%= s.url %></a><br>
  <% end %>
</p>

</div>

<script>
  $(function(){
    $('#inter_button').on('click',function(e){
      e.preventDefault();
      $.ajax({
        url: "<%= register_inter_stack_path%>",
        method: "POST",
        data: "<%=@stack%>"
      })
    });

    $('#my_button').on('click', function(e){
      e.preventDefault();
      $.ajax({
        url: "<%=register_my_stack_path%>",
        method: "POST",
        data: "<%=@stack%>"
      });
    });
  })
</script>
