<p id="notice"><%= notice %></p>
<p>
  <img src="https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/<%=@stack.stack_field.name%>/<%= @stack.name.capitalize %>.png" width="100">
  <!-- 관심스택 등록 버튼 -->
  <% if @like %>
    <%= link_to "관심스택", '', class: "btn btn-info", id: "inter_button" %>
  <% else %>
    <%= link_to "관심스택", '', class: "btn btn-danger", id: "inter_button" %>
  <% end %>
  <!-- 마이스택 등록 버튼 -->
  <% if @like %>
    <%= link_to "마이스택", '', class: "btn btn-info", id: "my_button" %>
  <% else %>
    <%= link_to "마이스택", '', class: "btn btn-danger", id: "my_button" %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stack.name.capitalize %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @stack.site_url %>
</p>

<p>
  <strong>Short describe:</strong>
  <%= @stack.short_describe %>
</p>

<p>
  <strong>Describe:</strong>
  <%= @stack.describe %>
</p>

<p>
  <strong>Version:</strong>s
  <%= @stack.version %>
</p>

<p>
  <strong>Stack field:</strong>
  <%= @stack.stack_field.name %>
</p>


<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>

<script>
  $(function(){
    $('#inter_button').on('click',function(e){
      e.preventDefault();
      var stack = "<%=@stack%>"
      $.ajax({
        url: "<%= register_inter_stack_path%>",
        method: "POST",
        data: stack
      })
    });

    $('#my_button').on('click', function(e){
      e.preventDefault();
      var stack = "<%=@stack%>"
      $.ajax({
        url: "<%=register_my_stack_path%>",
        method: "POST",
        data: stack
      });
    });
  })
</script>
