<!DOCTYPE html>
<html>
<head>


<h1>Hot Stacks</h1>

<br>

<%j=0%>
<%@types.each do |type|%>
  <strong><%= type%></strong><br>
  <%for i in 0..4%>
      <%= @stack_trends[i+j]["stack_name"]%><br>
  <%end%>
  <%j+=5%>
<%end%>

<br>
<br>

<% f=0 %>
<%@surveys.each do |survey| %>
  <strong><%= survey%></strong> <br>
  <% for i in 0..10 %>
    <%=@octo_trends[f+i]["content_name"] %>
    <%=@octo_trends[f+i]["content_figure"] %> <br>
    <% end %>
    <% f+=5%>
<% end %>


<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>





</html>
