<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5">마이페이지</h4>
         <p class="text-muted col-md-6 text-center mx-auto">개인정보 및 나의 스택을 관리하세요</p>
       </div>
       <!-- 개인정보랑 스택확인 페이지 나눌거면 밑의 container추가 -->
       <div class="container">
        <div class="row">
          <div class="col-sm">
            개인 정보
          </div>
          |
          <div class="col-sm">
            개인 스택
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</header>
<br>
<div class="container">
  <section class="page-title"><h2>개인정보</h2></section>
  <div class="col-md-7">
    <div class="table-responsive">
      <table class="table table-striped type09" id="dataTable" width="100%" cellspacing="0">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th scope="row">이메일</th>
            <td> <%= @user.email %></td>
          </tr>
          <tr>
            <th scope="row">닉네임</th>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <th scope="row">전화번호</th>
            <td><%= @user.phone %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="clearfix">
      <a href="/users/edit" class="btn btn-small btn-dark-solid">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>수정하기
      </a>
    </div>


    <p>
      <h2>나의 스택</h2>
      <%= link_to '추가',  add_my_indi_users_path, method: :get %><br>
      <% @f_name = ['Language','Database','Server','Front-end','Native_App','Etc'] %>
      <% @f_name.each_with_index do |f, index|%>
        <%= f %><br>
        <p>
          <%@mstacks.each do |st|%>
            <% if st.stack.stack_field_id == (index+1)%>
              <a href="/stacks/<%=st.stack_id%>" data-toggle="tooltip" title="<%=st.stack.name%>">
                <%= image_tag "https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/#{st.stack.stack_field.name}/#{st.stack.name.capitalize}.png", id: "#{st.stack.name}", class: "stack_img mr-3", width: "50", height: "50" %>
              </a>
            <%end%>
          <%end%>
        </p>
      <% end %>
    </p>

    <p>
      <h2>나의 관심 스택</h2>
      <% @f_name = ['Language','Database','Server','Front-end','Native_App','Etc'] %>
      <% @f_name.each_with_index do |f, index|%>
        <%= f %><br>
        <p>
          <%@stacks.each do |st|%>
            <% if st.stack.stack_field_id == (index+1)%>
              <a href="/stacks/<%=st.stack_id%>" data-toggle="tooltip" title="<%=st.stack.name%>">
                <%= image_tag "https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/#{st.stack.stack_field.name}/#{st.stack.name.capitalize}.png", id: "#{st.stack.name}", class: "stack_img mr-3", width: "50", height: "50" %>
              </a>
            <%end%>
          <%end%>
        </p>
      <% end %>
    </p>

    <p>
      <h2>나의 게시글</h2>
      <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th></th>
            <th>제목</th>
            <th>작성일</th>
            <th>상세보기</th>
          </tr>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%=  %></td>
            <td><%= post.title %></td>
            <td><%= post.created_at %></td>
            <td><%= link_to '보기', post %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </p>
    <br>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<style>
  img.stack_img {
    width: "50";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  table.type09 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

  }
  table.type09 thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #369;
      border-bottom: 3px solid #036;
  }
  table.type09 tbody th {
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #f3f6f7;
  }
  table.type09 td {
      width: 350px;
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
  }
  img.stack_img {
    width: "50";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
</style>
