<div class="wrapper">
  <section class="page-title">
    <h4>개인정보</h4>
  </section>
  <div class="col-md-7">
    <div class="product-title">
      <h2 class="text-uppercase">
        <%= @user.nickname %></h2>
    </div>
<ul class="portfolio-meta m-bot-10 m-top-10 ">
            <li>
              <span>email</span> : <%= @user.email %></li>
            <li>
              <span>nickname</span> : <%= @user.nickname %></li>
            <li>
              <span>role</span> : <%= @user.role %></li>
            <li>
              <span>phone</span> : <%= @user.phone %></li>
          </ul>

          <div class="clearfix">
            <a href="/users/edit" class="btn btn-small btn-dark-solid">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>수정하기
            </a>
          </div>
<br><br>
<h1>나의 스택 확인</h1>
<%= link_to '추가',  add_my_indi_users_path, method: :get %><br>
<% @mstacks.each do |s| %>
  <% st = Stack.find(s.stack_id)%>
  <% field = StackField.find(st.stack_field_id)%>
  <a href="/stacks/<%=st.id%>" data-toggle="tooltip" title="<%=st.name%>">
    <%= image_tag "https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/#{st.stack_field.name}/#{st.name.capitalize}.png", id: "#{st.name}", class: "mr-3", width: "50", height: "50" %>
  </a>
<% end %>
<br><br>
<h1>나의 관심 스택 확인</h1>
<% @stacks.each do |stack| %>
  <% inter_stack = Stack.find(stack.stack_id)%>
  <a href="/stacks/<%=inter_stack.id%>" data-toggle="tooltip" title="<%=inter_stack.name%>">
    <%= image_tag "https://s3.ap-northeast-2.amazonaws.com/dahisy-4th-project/Stack/#{inter_stack.stack_field.name}/#{inter_stack.name.capitalize}.png", id: "#{inter_stack.name}", class: "mr-3", width: "50", height: "50" %>
  </a>
<% end %>
</div>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
