<p id="notice"><%= notice %></p>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/company_fields"><%= @company.company_field.name%></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @company.name %></li>
  </ol>
</nav>


<div class="container">

<div class="media">
  <img src="<%=@company.logo_url%>" title="<%=@company.name%>" id: "#{@company.name}" size=200>
  <div class="media-body">
    <h5 class="mt-0"><%= @company.name %></h5>
    <%= @company.site_url %>
  </div>
</div>

<br>

<p class="text-xl-left"><%= @company.describe %></p>

<br><br><br>


<table>
  <thead>
    <tr>
      <th><%=@company.name%>이 제공하는 서비스</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.name %><%= link_to '<button type="button">상세보기</button>'.html_safe, "/services/#{service.id}" %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'Back', company_field_path(@company.company_field_id) %>
</div>
