<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Site url</th>
      <th>Logo url</th>
      <th>Describe</th>
      <th>Company field</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.site_url %></td>
        <td><%= company.logo_url %></td>
        <td><%= company.describe %></td>
        <td><%= company.company_field %></td>
        <td><%= link_to 'Show', company %></td>
        <% if current_user.enter && current_user(company_id: @company_id)%>  <!-- 기업회원의 회사인 경우에만 표시되어야함 -->
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
