<p id="notice"><%= notice %></p>

<h1>Listing Company Details</h1>

<br>

<%= @company.name %><br>
<%= @company.site_url %><br>
<img src="<%=@company.logo_url%>" data-toggle="tooltip" title="<%=@company.name%>" id: "#{@company.name}"><br>
<%= @company.describe %><br><br><br>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.name %><%= link_to '<button type="button">상세보기</button>'.html_safe, "/services/#{service.id}" %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'Back', company_field_path(@company.company_field_id) %>
