<div class="container" align="center">
  <div class="col-3"></div>
  <div class="col-6">
  <div class="login login-bg login-parallax">
    <div class="login-box btn-rounded">
      <div class="panel panel-default devise-bs">
        <div class="text-center"><br>
          <h3><%= t('.sign_in', :default => 'Sign in') %></h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form'}) do |f| %>
              <div class="form-group">
                <div class="input-group">

                  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">

                  <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
                </div>
              </div>
              <% if devise_mapping.rememberable? %>
                  <div class="checkbox" align="left">
                    <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %>저장할까요?
                    <% end %>
                    <a class="pull-right" href="/users/password/new">비밀번호를 잊으셨나요?</a>
                  </div>
              <% end %>
              <div>
                <%= f.submit t('.sign_in', :default => 'Sign in'), class: 'btn btn-small btn-dark-solid full-width btn-rounded' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
      <div class="col-3"></div>
    </div>
      <div class="text-center">
        <a href="/users/sign_up" style="color:black; font-weight:bold;">가입하기</a>
      </div>
    </div>
  </div>
