<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5">게시판</h4>
         <!-- <p class="text-muted col-md-6 text-center mx-auto">다양한 서비스의 기술 스택을 확인하세요</p> -->
       </div>
    </div>
  </div>
</header>
<br>
<div class="container table-responsive table_div">
  <div align="right">
    <% if user_signed_in? %>
      <%= link_to '<i class="fa fa-pencil fa-1x"></i>글쓰기'.html_safe, new_post_path %>
    <% end %>
  </div>
    <table align="center" class="table table-striped" id="dataTable" width="100%" cellspacing="0" style="width:100%">
      <thead>
        <tr>
          <th></th>
          <th class="jb-th-1">제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td width="5%"><%= post.id %></td>
            <td width="40%"><%= link_to post.title, post %></td>
            <td><%= post.user.nickname %></td>
            <td width="20%"><%= post.updated_at.strftime("%Y/%m/%d") %></td>
            <td><%= "#{post.unique_impression_count} views" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <ul class="pagination">
        <li><%= paginate @posts %></li>
      </ul>
    </div>
</div>


<br>

<style>
  th {
    background-color: #3e4247;
    color: white;
  }
  .table_div {
    width: 100%;
  }
  .jb-th-1 {
    width: 400px;
  }
</style>
