<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>


<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>제목</th>
          <th>작성자</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>제목</th>
          <th>작성자</th>
          <th colspan="3"></th>
        </tr>
      </tfoot>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.user.nickname %></td>
            <td><%= link_to 'Show', post %></td>
            <% if user_signed_in? && (post.user_id == current_user.id)%>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<%= paginate @posts %>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
