<header class="bg-dark text-white">
  <div class="container text-center">
    <div class="justify-content-center">
      <!-- Searching Section -->
       <div class="subscribe section bg-dark py-1">
         <h4 class="section-title text-center text-white m-5">게시판</h4>
         <p class="text-muted col-md-6 text-center mx-auto">게시글 보기</p>
       </div>
    </div>
  </div>
</header>
<br>
<div class="container table-responsive table_div">
  <table border="1" rules="none" align="center" class="table " id="dataTable" width="100%" cellspacing="0" style="width:100%">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td><%= @post.title %></td>
        <td><%= @post.updated_at.strftime("%Y/%m/%d %H:%M:%S")%></td>
        <td>
          <% if user_signed_in? && (current_user.id == @post.user_id)%>
            <%= link_to '편집'%> | <i class="far fa-trash-alt fa-1x"></i><%= link_to '삭제'%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= @post.user.nickname %></td>
        <td></td>
        <td><i class="fa fa-eye"></i><%= @hit_post.unique_impression_count %> | <i class="fa fa-comment"></i>댓수</td>
      </tr>
      <tr>
        <td><%= @post.content.html_safe%></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <!-- 댓글 작성  -->
  <%= form_tag create_comment_to_post_path, id: "create_comment" do %>
    <%= text_field_tag "comment[body]"%> <!--이거 맞나??ㅋㅋㅋㅋ;;-->
    <%= submit_tag '등록'%>
  <% end %>
  <table class="table" id="comment_table">
    <thead>
      <tr>
        <th>댓글</th>
      </tr>
    </thead>
    <tbody>
      <% @post.comments.reverse.each do |p| %>
        <tr id="comment-<%= p.id %>">
          <td><%= p.content%></td>
          <td><%= link_to '삭제', destroy_comment_posts_path(p.id), method: :delete, data: {confirm: '삭제하시겠습니까?'}, class: "btn btn-warning", remote: true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Back', :back %>
</div>

<script>
  $(function(){
    var form = $('#create_comment');
    form.on('submit', function(e){
      e.preventDefault();
      var contents = form.serialize(); //serialize는 form안에 있는 모든 input tag를 한번에 파라미터로 만들어 줌
      // var contents = $('#comment_body').val(); 사용안됨
      if(contents==""){
        alert('값을 입력해주세요');
      }
      $.ajax({
        url: "<%= create_comment_to_post_path %>",
        method: "POST",
        data: contents,
        ,error:function(request,status,error){
          alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);}
      });
    });
  });
</script>
