<h1>회사 관리 페이지</h1>
이메일 : <%= @user.email%><br>
이름 : <%= @user.nickname%><br>
권한 : <%= @user.role%><br>
전화번호 : <%= @user.phone%><br>
<%= link_to '수정', edit_user_registration_path %>
<%= @services%>
<br><br>
<h1>회사 정보</h1>

<%= link_to '수정'%>
