<h1>회사 관리 페이지</h1>
이메일 : <%= @user.email%><br>
이름 : <%= @user.nickname%><br>
권한 : <%= @user.role%><br>
전화번호 : <%= @user.phone%><br>
<%= link_to '수정', edit_user_registration_path %>

<br><br>

<h1>회사 정보</h1>
회사 명: <%= @company.name%><br>
회사 주소: <%= @company.site_url%><br>

<%= link_to '수정', edit_enter_company_path(@company)%>

<br><br>

<h1>서비스 정보</h1>
<%= link_to 'new', "/enter/companies/#{@company.id}/services/new"%>
<% if @services %>
  <% @services.each do |service|%>
    <%= service.name%>
  <% end %>
<% end %>
<%= link_to '추가', new_enter_company_service_path(@company)%>
