<h1>회사 관리 페이지</h1>
이메일 : <%= current_user.email%><br>
이름 : <%= current_user.nickname%><br>
권한 : <%= current_user.role%><br>
전화번호 : <%= current_user.phone%><br>
<%= link_to '수정', edit_user_registration_path %>

<br><br>

<h1>회사 정보</h1>
회사 명: <%= @company.name%><br>
회사 주소: <%= @company.site_url%><br>
회사 내용: <%= @company.describe%><br>
<%= link_to '수정', edit_enter_company_path(@company)%>

<br><br>

<h1>서비스 정보!</h1>
<%= link_to 'new', "/enter/companies/#{@company.id}/services/new"%><br>
<% if @services %>
  <% @services.each do |sv|%>
    <a href="/enter/companies/<%=@company.id%>/services/<%=sv.id%>" title="<%=sv.name%>"><%=sv.name%></a><br>
  <% end %>
<% end %>
