
<br><br><br>
<h3 align="center">분야별 회사목록</h3>

<div class="container">
  <div class="row">
    <!-- First column -->
    <div class="col-4">
      <!-- Navigation -->
      <div class="list-group" id="list-tab" role="tablist">
        <% @company_fields.each do |company_field| %>
        <a class="list-group-item list-group-item-action" id="list-<%= company_field.id %>-list" data-toggle="list" href="#list-<%= company_field.id %>" role="tab" aria-controls="<%= company_field.id %>"><%= company_field.name %></a>
        <!-- <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a> -->
        <% end %>
      </div>
    </div>
    <!-- First column -->
    <!-- Second column -->
    <div class="col-4">
      <!-- Content -->
      <div class="tab-content" id="nav-tabContent">
        <% @company_fields.each do |company_field| %>
        <div class="tab-pane fade show" id="list-<%= company_field.id %>" role="tabpanel" aria-labelledby="list-<%= company_field.id %>-list"> <%= company_field.name %>분야 회사들 목록 나오게 하기 <%= link_to '상세보기', company_field %> </div>
        <!-- <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div> -->
        <% end %>
      </div>
      <!-- Content -->
    </div>
    <!-- Second column -->
  </div>
</div>
<% if user_signed_in? &&  current_user.admin? %>
<%= link_to 'New Company field', new_company_field_path %>
<% end %>

<br><br><br>


<!-- old version
<p id="notice"><%= notice %></p>

<h1 align="center">분야별 회사목록</h1>

<div class="container">
  <% @company_fields.each do |company_field| %>
    <div class="card">
        <div class="card-body">
        <h5 class="card-title"><%= company_field.name %></h5>
        <%= link_to 'Show', company_field %>
        </div>
    </div>
  <% end %>
</div>
<br>
-->
