<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/assets/shards-logo-green-9dff3526abff9b21868af4cdd5ba93b9ecc53e4a7c97b2f46bcc436b750fb725.svg" class="mr-2" alt="Main Page">
    Stacker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'tech_stack', company_fields_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'trend_stack', trend_index_path, class: "nav-link js-scroll-trigger" %>
      </li>
      <li class="nav-item">
        <%= link_to 'career_stack', career_index_path, class: "nav-link js-scroll-trigger" %>
      </li>
      <li class="nav-item">
        <%= link_to 'stackers', ranking_index_path, class: "nav-link js-scroll-trigger" %>
      </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <a href='#' class='nav-link text-white'>
              <%= current_user.nickname if current_user%>님 환영합니다.
            </a>
          </li>
          <%#= link_to %>
          <li class="nav-item">
            <%if current_user.admin?%>
              <%= link_to '관리자_홈', admin_users_path, method: :get,class: "nav-link js-scroll-trigger"%>
            <% elsif current_user.enter?%>
              <%= link_to '회사관리_홈', enter_company_path(current_user.company_id),method: :get,class: "nav-link js-scroll-trigger"%>
            <% elsif current_user.indi?%>
              <%= link_to '개인관리_홈', indi_users_path,class: "nav-link js-scroll-trigger"%>
            <%end%>
          </li>
          <%#= link_to 'My Stack', indi_users_path, class: "nav-link js-scroll-trigger"%>
          <li class="nav-item">
          <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "nav-link js-scroll-trigger"%>
        <% else %>
          <%= link_to '로그인', new_user_session_path, class: "nav-link js-scroll-trigger"%>
        <% end %>
        </li>
    </ul>

     <form class="form-inline my-2 my-lg-0" action="/main/search">
         <input class="form-control mr-sm-2" type="text" placeholder="검색" name="search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
     </form>
  </div>
</nav>
